body{
  margin:0px;
  font-family: 'Open Sans', sans-serif;
  background-image:url(../image/denever2.jpg);
  background-position: -3.5% 10%;
  font-size: 27px;
}
header{
    width: 100%;
    height: 130px;
    background-color: black;
    color: #ffffff;
}

#logo{
    float: left;
    padding-left: 225px;
}
#logoo{
    width: 187px;
    margin: -10px;
}

#nev{
    float: right;
    padding-right: 225px;
    font-size: 32px;
    text-align: center;
}
#nev p{
    margin-top: 18px;
}

#content{
  width:1100px;
  margin:auto;
  padding:10px 20px;
  background-color: rgba(255,0,0,0.9);
}

.first,.second{
  width: 1000px;
  margin: auto;
  height: 330px;
}

.contentimg{
  width:450px;
}
.contenttext{
  width: 450px;
  text-align: center;
}

.firstp{
  padding-left: 47px;
}

.firstpicture,.secondtext{
  width: 500px;
  float:left;
}

.firsttext,.secondpicture{
  float: right;
  width:500px;
}

.secondpicture, .firstpicture{
  width: 450px;
}

.vége img{
  width: 300px;
}

.familyfirst{
  float: left;
}
.familysecond{
  float: right;
}
.familytexts{
  width: 380px;
  float: left;
  padding-left: 15px;
}
.vége{
  height: 350px;
  width:1000px;
  margin:auto;
}

footer{
    margin: 0;
    height: 40px;
    width: 100%;
    bottom: 0;
    background-color: black;
    padding: 10px 0;
  }
  
footer p{
    color: #ffffff;
  }
  
footer .copyright, .copyrightt{
    float: left;
  }
  
footer .copyright p, .copyrightt p{
    text-align: center;
    font-size: 13px;
    line-height: 14px;
    margin-top: 10px;
    margin-left: 200px;
  }
  
footer .keszitette{
    float: right;
  }
  
footer .keszitette p{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    font-size: 13px;
    line-height: 14px;
    margin-top: 10px;
    margin-right: 200px;
  }
.familyp{
    font-size: 18px;
    padding: 7px;
    font-weight: 600;
  }
table{
    margin-top: 40px;
  }

@media screen and (max-width: 1420px){
  #nev{
    padding-right: 100px;
  }
  #logo{
    padding-left: 100px;
  }
}

@media screen and (max-width: 1240px){
  #nev{
    padding-right: 50px;
  }
  #logo{
    padding-left: 50px;
  }
  #content{
    width: 1000px;
  }
}
@media screen and (max-width: 1100px){
  #nev{
    font-size: 25px;
  }
  #content{
    width: 950px;
  }
  .first{
    width: 800px;
  }
  .second{
    width: 800px;
  }
  .firstpicture,.secondtext{
    width: 400px;
    float:left;
  }
  
  .firsttext,.secondpicture{
    float: right;
    width:400px;
  }
  .contentimg{
    width:400px;
  }
  .contenttext{
    width: 340px;
    text-align: center;
  }
  body{
    font-size: 22px;
  }
  .secondtext{
    padding-right: 10px;
  }
}
@media screen and (max-width: 900px) {
  #nev{
    font-size: 24px;
    width: 350px;
  }
  #nev p{
      margin-top: 8px;
  }
}

@media screen and (max-width:700px) {
  #nev{
    font-size: 20px;
    padding-right: 20px;
    width: 250px;
  }
  
}
  